SERVER/node_modules/
SERVER/package-lock.json
SERVER/.env
SERVER/UPLOADS/
SERVER/CURL_README.md
SERVER/PAYMENT_FLOW_GUIDE.md

CLIENT/node_modules/
CLIENT/package-lock.json
CLIENT/public/assets/
CLIENT/dist/
