PORT=5000
MONGO_URI=mongodb://localhost:27017/cineflow
JWT_SECRET=your_super_secret_jwt_key_2026
REDIS_URL=redis://localhost:6379
DODO_API_URL=https://api.dodopayments.com
DODO_API_KEY=your_dodo_api_key_here
DODO_WEBHOOK_SECRET=your_dodo_webhook_secret
DODO_CALLBACK_URL=http://localhost:5000/webhook
APP_URL=http://localhost:5000